<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>ssssss</title>
    <script th:src="@{/js/jQuery.js}"></script>
    <script th:src="@{/vue/vue.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/element/element-index.css}">
    <script  th:src="@{/element/element-index.js}"  ></script>

</head>
<div id="app">
    <el-container>
        <el-aside width="200px">
            <el-menu
                    default-active="1"
                    class="el-menu-vertical-demo"
                    @open="handleOpen"
                    @close="handleClose"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-submenu index="1" >
                    <template slot="title" >
                        <i class="el-icon-setting"></i>
                        <span>商品配置</span>
                    </template>
                    <el-menu-item-group>
                        <template slot="title">商品信息</template>
                        <el-menu-item index="1-1" @click="changeComm(true)">新建商品</el-menu-item>
                        <el-menu-item index="1-2" @click="changeComm(false)">商品列表</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-menu-item index="2" @click="changeType(0)">
                    <i class="el-icon-setting"></i>
                    <span slot="title" >商品根类</span>
                </el-menu-item>
                <el-menu-item index="3"  @click="changeType(1)">
                    <i class="el-icon-setting"></i>
                    <span slot="title">一级商品名称</span>
                </el-menu-item>
                <el-menu-item index="4" @click="changeType(2)">
                    <i class="el-icon-setting"></i>
                    <span slot="title" >二级商品名称</span>
                </el-menu-item>
            </el-menu>



        </el-aside>
        <el-container>
            <el-main>


                <div v-if="ct==0"><type ref="typeId"></type></div>
                <div v-else-if="ct==1"><category></category></div>
                <div v-else-if="ct==2"><item></item></div>

                <div v-if="commShow">
                    <div v-if="editcomm"> <editcomm  ></editcomm></div>
                    <div v-if="commAdd"><addcomm  :commadd="commAdd"></addcomm></div>
                    <!--   利用 sendvaule 方法，将子的值修改父类值 -->
                    <div v-else><showcomm @sendvaule="getvaule"> </showcomm></div>
                </div>
            </el-main>
            <el-footer  >Footer</el-footer>
        </el-container>
    </el-container>


</div>
<body>

</body>

<script>

    //----修改商品信息
    Vue.component("editcomm",{
        template:"<el-dialog title=\"修改商品信息\" :visible.sync=\"dialogFormVisible\"" +
            " :before-close=\"handleClose\" >\n" +
            "                            <el-form ref=\"form\" :model=\"form\" label-width=\"80px\">\n" +
            "                                <el-form-item label=\"商品名称\">\n" +
            "                                    <el-input v-model=\"form.waresName\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"商品价格\">\n" +
            "                                    <el-input v-model=\"form.waresPrice\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"商品根类\">\n" +
            "                                  <el-radio-group v-model=\"form.typeId\" @change='findcategory'>\n" +
            "                                   <el-radio disabled  v-for='(t,index) in type' :label=\"t.id\" :key='index'>{{t.typeName}}</el-radio>\n" +
            "                                   </el-radio-group>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"一类名称\">\n" +
            "                                  <el-radio-group v-model=\"form.categoryId\"  @change='finditem'>\n" +
            "                                   <el-radio disabled   v-for='(c,index) in category ' :label=\"c.id\" :key='index'>{{c.categoryName}}</el-radio>\n" +

            "                                   </el-radio-group>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"二类名称\">\n" +
            "                                  <el-radio-group v-model=\"form.itemId\"  @change='takeitem'>\n" +
            "                                   <el-radio disabled v-for='(i,index ) in item' :label=\"i.id\" :key='index' >{{i.itemName}}</el-radio>\n" +

            "                                   </el-radio-group>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"概图上传\">\n" +
            "<el-upload   v-if='fileList.length>0'" +
            "  action=\"/img/uplode\"\n" +
            "  list-type=\"picture-card\" " +
            "  :auto-upload=\"false\"  " +
            "  :on-preview=\"handlePreview\" " +
            "  :file-list=\"fileList\" " +
            "   ref=\"upload0\"  " +
            "            :limit='6'\n" +
            "            accept=\".jpg,.jpeg,.png,.gif,.bmp,.JPG,.JPEG,.GIF,.BMP\"" +
            "  :before-upload=\"beforeUpload\"\n" +
            "  :on-change=\"handleChange\" " +
            "  :on-success=\"handleAvatarSuccess\" >" +
            "  <i slot=\"default\" class=\"el-icon-plus\"></i>\n" +
            "    <div slot=\"file\" slot-scope=\"{file}\">\n" +
            "      <img\n" +
            "        class=\"el-upload-list__item-thumbnail\"\n" +
            "        :src=\"file.url\" alt=\"\"\n" +
            "      >\n" +
            "      <span class=\"el-upload-list__item-actions\">\n" +
            "        <span\n" +
            "          class=\"el-upload-list__item-preview\"\n" +
            "          @click=\"handlePictureCardPreview(file)\"\n" +
            "        >\n" +
            "          <i class=\"el-icon-zoom-in\"></i>\n" +
            "        </span>\n" +
            "        <span\n" +
            "          v-if=\"!disabled\"\n" +
            "          class=\"el-upload-list__item-delete\"\n" +
            "          @click=\"handleRemove(file)\"\n" +
            "        >\n" +
            "          <i class=\"el-icon-delete\"></i>\n" +
            "        </span>\n" +
            "      </span>\n" +
            "    </div> " +
            "</el-upload> " +
            "<el-dialog :visible.sync=\"dialogVisible\">\n" +
            "  <img width=\"100%\" :src=\"dialogImageUrl\" alt=\"\">\n" +
            "</el-dialog>" +
            "                                </el-form-item>\n" +
            "                               <el-form-item label=\"商品备注\">\n" +
            "                                    <el-input v-model=\"form.waresRemarks\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"商品状态\">\n" +
            "                                    <el-input v-model=\"form.waresState\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                            </el-form>\n" +
            "  <div slot=\"footer\" class=\"dialog-footer\">\n" +
            "    <el-button @click=\"handleClose\">取 消</el-button>\n" +
            "    <el-button type=\"primary\" @click=\"onSubmit()\">确 定</el-button>\n" +
            "  </div>\n" +
            "</el-dialog>",
        data:function (){
            return {
                dialogFormVisible: false,
                formLabelWidth: '120px',
                type:[],
                category:[],
                item:[],
                form: {
                    type:'',
                    category:'',
                    item:'',
                    waresName:'',
                    waresPrice: '',
                    typeId:'',
                    categoryId:'',
                    itemId:'',
                    waresState:'',
                    waresRemarks:'',
                    waresImg:''
                },
                fileList: [],
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false,
                fileName:'',
                //判断添加几个图片
                imgNew:0,
                imgNum:0
            }
        },
        methods:{
            findcategory:function(val){
                var _this=this;
                $.get("/commType/categoryListByType/"+val, function (data0) {
                    _this.category = data0;
                    if(data0==null||data0==[]){
                        _this.form.categoryId='';
                    }
                });
                this.form.typeId=val;
            },
            finditem:function(val){
                var _this=this;
                $.get("/commType/itemListByCategory/"+val, function (data0) {
                    _this.item = data0;
                    if(data0==null||data0==[]){
                        _this.form.itemId=''
                    }
                });
                this.form.categoryId=val;
            },
            takeitem:function(val){
                for(var i=0;i<this.item.length;i++){
                    if(this.item[i].id==val){
                        this.form.itemId=val;
                    }
                }
            },
            onSubmit:function() {
                var imgnemes="";
                    var imgs=this.form.waresImg.split(",");
                    for(var i=0;i<imgs.length;i++){
                        for(var j=0;j<this.fileList.length;j++){
                            imgnemes+=this.fileList[j].name+",";
                            if(imgs[i]==this.fileList[j].name){
                                this.fileList.remove(this.fileList[j]);
                            }
                        }
                    }
                    this.imgNew=  this.fileList.length;
                    if( this.imgNew>0){
                        this.$refs.upload0.submit();
                    }else{
                        var _this=this;
                        this.form.waresImg=imgnemes;
                        $.post("/comm/addComm",this.form,function (data) {
                            if(data=='ok'){
                                _this.onCancel();
                            }
                        })
                    }
                // console.log(this.$refs.upload0)
            },
            handlePreview:function(file) {
                console.log(file);
            },
            handleChange:function (file, fileList) {
                this.fileList=fileList;
            },
            //图片删除
            handleRemove:function(file){
                this.fileList.remove(file);
            },
            //图片放大镜
            handlePictureCardPreview:function(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            beforeUpload:function(file) {
                return true;
            },
            handleAvatarSuccess:function(response, file, fileList) {
                var _this=this;
                this.imgNum+=1;
                if(response!='') {
                    this.form.waresImg += response+",";
                    console.log(this.form.waresImg)
                    console.log(this.fileList)
                    if(this.imgNum==this.fileList.length){
                        $.post("/comm/addComm",this.form,function (data) {
                            if(data=='ok'){
                                _this.handleClose();
                            }
                        })
                    }
                }
                _this.dialogFormVisible = false
            },
            onCancel:function () {
                this.form={
                    type:'',
                    category:'',
                    item:'',
                    waresName:'',
                    waresPrice: '',
                    typeId:'',
                    categoryId:'',
                    itemId:'',
                    waresState:'',
                    waresRemarks:'',
                    waresImg:''
                };
                this.fileList=[];
                this.dialogFormVisible = false;
            },
            handleClose:function () {
                this.form={
                    type:'',
                    category:'',
                    item:'',
                    waresName:'',
                    waresPrice: '',
                    typeId:'',
                    categoryId:'',
                    itemId:'',
                    waresState:'',
                    waresRemarks:'',
                    waresImg:''
                };
                this.$refs.upload0.clearFiles();
                this.fileList=[];
                this.dialogFormVisible = false;
            }

        },
        created(){
            var _this=this;
            comms.$on("sendrow",function (val) {
                _this.form=val;
                $.get("/commType/typeList", function (data0) {
                    _this.type=data0;
                });
                $.get("/commType/categoryListByType/"+val.typeId, function (data0) {
                    _this.category=data0;

                });
                $.get("/commType/itemListByCategory/"+val.categoryId, function (data0) {
                    _this.item=data0;
                });
               // var  imgPath="http://localhost/images/upload/";
                var  imgPath="http://"+location.host+"/images/upload/";
                var imgnames=val.waresImg.split(",");
                for(var i=0;i<imgnames.length;i++) {
                    if (imgnames[i] != "") {
                        var img = {};
                        img.name = imgnames[i];
                        img.url = imgPath + imgnames[i];
                        _this.fileList[i] = img;
                    }
                }
            });
            comms.$on("sendshow",function (data) {
                _this.dialogFormVisible=data;
            });

        }
    });

    //-----------vue控件 新建商品
    Vue.component("addcomm",{
        template:" <el-row :gutter='20'>\n" +
            "                    <el-col :span=\"24\"><div class=\"grid-content bg-purple\">\n" +
            "                        <el-card class=\"box-card\" style=\"height: 800px\">\n" +
            "                            <h5 align=\"center\"> 新建商品</h5>\n" +
            "                            <el-form ref=\"form\" :model=\"form\" label-width=\"80px\">" +
            "                                <el-form-item label=\"商品名称\">\n" +
            "                                    <el-input v-model=\"form.waresName\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"商品价格\">\n" +
            "                                    <el-input v-model=\"form.waresPrice\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"商品根类\">\n" +
            "                                  <el-radio-group v-model=\"form.typeId\" @change='findcategory'>\n" +
            "                                   <el-radio v-for='(t,index) in type' :label=\"t.id\" :key='index'>{{t.typeName}}</el-radio>\n" +
            "                                   </el-radio-group>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"一类名称\">\n" +
            "                                  <el-radio-group v-model=\"form.categoryId\" @change='finditem'>\n" +
            "                                   <el-radio v-for='(c,index) in category ' :label=\"c.id\" :key='index'>{{c.categoryName}}</el-radio>\n" +

            "                                   </el-radio-group>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"二类名称\">\n" +
            "                                  <el-radio-group v-model=\"form.itemId\" @change='takeitem'>\n" +
            "                                   <el-radio v-for='(i,index ) in item' :label=\"i.id\" :key='index'>{{i.itemName}}</el-radio>\n" +

            "                                   </el-radio-group>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"概图上传\">\n" +
            "<el-upload\n" +
            "  action=\"/img/uplode\"\n" +
            "  list-type=\"picture-card\" " +
            "  :auto-upload=\"false\" " +
            "   ref=\"upload0\"  " +
            "            :limit='6'\n" +
            "            accept=\".jpg,.jpeg,.png,.gif,.bmp,.JPG,.JPEG,.GIF,.BMP\"" +
            "  :before-upload=\"beforeUpload\"\n" +
            "  :on-change=\"handleChange\" " +
            "  :on-success=\"handleAvatarSuccess\" >" +
            "  <i slot=\"default\" class=\"el-icon-plus\"></i>\n" +
            "    <div slot=\"file\" slot-scope=\"{file}\">\n" +
            "      <img\n" +
            "        class=\"el-upload-list__item-thumbnail\"\n" +
            "        :src=\"file.url\" alt=\"\"\n" +
            "      >\n" +
            "      <span class=\"el-upload-list__item-actions\">\n" +
            "        <span\n" +
            "          class=\"el-upload-list__item-preview\"\n" +
            "          @click=\"handlePictureCardPreview(file)\"\n" +
            "        >\n" +
            "          <i class=\"el-icon-zoom-in\"></i>\n" +
            "        </span>\n" +
            "        <span\n" +
            "          v-if=\"!disabled\"\n" +
            "          class=\"el-upload-list__item-delete\"\n" +
            "          @click=\"handleRemove(file)\"\n" +
            "        >\n" +
            "          <i class=\"el-icon-delete\"></i>\n" +
            "        </span>\n" +
            "      </span>\n" +
            "    </div> " +
            "</el-upload> " +
            "<el-dialog :visible.sync=\"dialogVisible\">\n" +
            "  <img width=\"100%\" :src=\"dialogImageUrl\" alt=\"\">\n" +
            "</el-dialog>" +
            "                                </el-form-item>\n" +
            "                               <el-form-item label=\"商品备注\">\n" +
            "                                    <el-input v-model=\"form.waresRemarks\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"商品状态\">\n" +
            "                                    <el-input v-model=\"form.waresState\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item>\n" +
            "                                    <el-button type=\"primary\" @click=\"onSubmit()\">立即创建</el-button>\n" +
            "                                    <el-button  @click='onCancel()' >取消</el-button>\n" +
            "                                </el-form-item>\n" +
            "                            </el-form>\n" +
            "                        </el-card>\n" +
            "                    </div></el-col>" +
            "   </el-row>",
        data:function () {
            return {
                type:[],
                category:[],
                item:[],
                form: {
                    waresName:'',
                    waresPrice: '',
                    typeId:'',
                    categoryId:'',
                    itemId:'',
                    waresState:'',
                    waresRemarks:'',
                    waresImg:''
                },
                fileLIst: [],
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false,
                fileName:'',
                token0:""
            }
        },
        //获取父给的值
        props:['commadd'],
        methods:{
            findcategory:function(val){
                var _this=this;
                // for(var i=0;i<this.type.length;i++){
                    // var  t=  this.type[i];
                    // if(t.typeName==data){
                        $.get("/commType/categoryListByType/"+val, function (data0) {
                            _this.category = data0;
                            if(data0==null||data0==[]){
                                _this.form.categoryId='';
                            }
                        });
                this.form.typeId=val;
                        // this.form.typeId=t.id;
                    // }
                // }
            },
            finditem:function(val){
                var _this=this;
                // for(var i=0;i<this.category.length;i++){
                //     var  t=    this.category[i];
                //     if(t.categoryName==data){
                        $.get("/commType/itemListByCategory/"+val, function (data0) {
                            _this.item = data0;
                            if(data0==null||data0==[]){
                                _this.form.itemId=''
                            }
                        });
                        this.form.categoryId=val;
                    // }
                // }
            },
            takeitem:function(val){
                for(var i=0;i<this.item.length;i++){
                    if(this.item[i].id==val){
                        this.form.itemId=val;
                    }
                }

            },
            onSubmit:function() {
                this.$refs.upload0.submit();
                console.log(this.$refs.upload0)
            },
            handleChange:function (file, fileList) {
                this.fileLIst=fileList;
            },
            //图片删除
            handleRemove:function(file){
                this.fileLIst.remove(file);
            },
            //图片放大镜
            handlePictureCardPreview:function(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            beforeUpload:function(file) {
                return true;
            },
            handleAvatarSuccess:function(response, file, fileList) {
                var _this=this;
                if(response!='') {
                    this.form.waresImg += response+",";
                    if(this.form.waresImg.split(",").length-1==this.fileLIst.length){
                        var formData = this.form;
                            formData.token=this.token0;
                        $.post("/comm/addComm",formData,function (data) {
                            if(data=='ok'){
                                _this.onCancel();
                            }else{
                                this.$message.error("数据提交异常");
                            }
                        })
                    }
                }
            },
            onCancel:function () {
                this.form={
                    waresName:'',
                    waresPrice: '',
                    typeId:'',
                    categoryId:'',
                    itemId:'',
                    waresState:'',
                    waresRemarks:'',
                    waresImg:''
                };
                this.$refs.upload0.clearFiles();
                var _this=this;
                $.post("/comm/getToken",function (val) {
                    _this.token0=val;
                })
            }

        },
        watch: {//监控属性；监控参数
            token0:function (newValue,oldValue) {
            },
            commadd:function (newValue,oldValue) {
            }
        },
        created() {
            var _this = this;
            $.get("/commType/itemList", function (data0) {
                _this.item = data0;
            });

            $.get("/commType/categoryListByType/1", function (data0) {
                _this.category = data0;
            });
            $.get("/commType/typeList", function (data0) {
                _this.type = data0;
            });
            //如果首次加载，，获取token值
            if(this.commadd){
                var _this=this;
                $.post("/comm/getToken",function (val) {
                    _this.token0=val;
                })
            }
        }
    });

    // -------------查看商品列表
    Vue.component("showcomm",{
        template:" <el-row :gutter='20'>\n" +
            "                    <el-col :span=\"24\"><div class=\"grid-content bg-purple\">\n" +
            "                        <el-table\n" +
            "                                :data=\"tableData\"\n" +
            "                                height=\"400\"\n" +
            "                                border\n" +
            "                                style=\"width: 100%\" >\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"id\"\n" +
            "                                    label=\"序号\"\n" +
            "                                    width=\"180\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"waresName\"\n" +
            "                                    label=\"商品名\"\n" +
            "                                    width=\"180\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"waresImg\"\n" +
            "                                    label=\"商品图片\"\n" +
            "                                    width=\"180\">\n" +
            "<template slot-scope=\"scope\"  v-if='scope.row.waresImg!=null&scope.row.waresImg!=\"\"' > " +
            "<el-image style=\"width: 40px; height: 40px\"\n" +
            "      :src=\"imgPath+scope.row.waresImg.split(',')[0]\"\n" +
            "      fit=\"cover\"></el-image>  </template>" +
            "                            </el-table-column>\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"waresPrice\"\n" +
            "                                    label=\"商品价格\"\n" +
            "                                    width=\"180\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"waresState\"\n" +
            "                                    label=\"商品状态\"\n" +
            "                                    width=\"180\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column label=\"操作\">\n" +
            "                                <template slot-scope=\"scope\">\n" +
            "                                    <el-button\n" +
            "                                            size=\"mini\"\n" +
            "                                            @click=\"handleEdit(scope.$index, scope.row)\">编辑</el-button>\n" +
            "                                    <el-button\n" +
            "                                            size=\"mini\"\n" +
            "                                            type=\"danger\"\n" +
            "                                            @click=\"handleDelete(scope.$index, scope.row)\">删除</el-button>\n" +
            "                                </template>\n" +
            "                            </el-table-column>\n" +
            "                        </el-table>\n" +
            "                    </div></el-col>\n" +
            "   </el-row>",
        data:function () {
            return {
                tableData: [
                ],
                imgPath:'',
                form: {
                    type:'',
                    category:'',
                    item:'',
                    waresName:'',
                    waresPrice: '',
                    typeId:'',
                    categoryId:'',
                    itemId:'',
                    waresState:'',
                    waresRemarks:'',
                    waresImg:''
                }
            }
        },
        methods:{

            handleEdit:function(index, row) {
                //通过子组件向父组件发送开启弹出框命令
                this.$emit('sendvaule', true);
                //依靠父组件，将数据id发送给兄弟组件
                this.form=row;
                var _this=this;


                comms.$emit('sendrow', this.form);
                comms.$emit('sendshow',true);
            },
            handleDelete:function(index, row) {
                var _this=this;
                console.log(index, row);
                $.post("/comm/delComm",row,function (val) {
                    if (val=="ok") {
                        $.get("/comm/commList", function (data) {
                            _this.tableData = data;
                        })
                    }
                })
            },

            handleClick:function(row) {
                console.log(row);
            },
            onSubmit:function() {
                console.log('submit!');
            }
        },
        created() {
            var _this = this;
            $.get("/comm/commList",function (data) {
                _this.tableData=data;
            })
            $.get("/img/imgPath",function (data) {
                // _this.imgPath=data;
                _this.imgPath="/images/upload/";
            })
        }
    });




    //vue组件化编写

    //-----------------------vue控件商品根类
    Vue.component("type",{
        template:" <el-row :gutter='20'>\n" +
            "                    <el-col :span=\"16\"><div class=\"grid-content bg-purple\">\n" +
            "                        <el-table\n" +
            "                                :data=\"tableData\"\n" +
            "                                height=\"400\"\n" +
            "                                border\n" +
            "                                style=\"width: 100%\" >\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"typeOrder\"\n" +
            "                                    label=\"序号\"\n" +
            "                                    width=\"180\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"typeName\"\n" +
            "                                    label=\"商品根类\"\n" +
            "                                    width=\"180\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column label=\"操作\">\n" +
            "                                <template slot-scope=\"scope\">\n" +
            "                                    <el-button\n" +
            "                                            size=\"mini\"\n" +
            "                                            @click=\"handleEdit(scope.$index, scope.row)\">编辑</el-button>\n" +
            "                                    <el-button\n" +
            "                                            size=\"mini\"\n" +
            "                                            type=\"danger\"\n" +
            "                                            @click=\"handleDelete(scope.$index, scope.row)\">删除</el-button>\n" +
            "                                </template>\n" +
            "                            </el-table-column>\n" +
            "                        </el-table>\n" +
            "                    </div></el-col>\n" +
            "                    <el-col :span=\"8\"><div class=\"grid-content bg-purple\">\n" +
            "                        <el-card class=\"box-card\" style=\"height: 400px\">\n" +
            "                            <h5 align=\"center\" v-if='form.id>0'> 修改根类</h5>\n" +
            "                            <h5 align=\"center\" v-else=''> 新建根类</h5>\n" +
            "                            <el-form ref=\"form\" :model=\"form\" label-width=\"80px\">\n" +
            "                                <el-form-item label=\"根类序号\">\n" +
            "                                    <el-input v-model=\"form.typeOrder\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"根类名称\">\n" +
            "                                    <el-input v-model=\"form.typeName\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item>\n" +
            "                                    <el-button type=\"primary\" @click=\"onSubmit\">提交</el-button>\n" +
            "                                    <el-button>取消</el-button>\n" +
            "                                </el-form-item>\n" +
            "                            </el-form>\n" +
            "                        </el-card>\n" +
            "                    </div></el-col>" +
            "   </el-row>",
        data () {
            return {
                tableData: [],
                form: {
                    id:'',
                    typeOrder: '',
                    typeName: ''
                }
            }
        },
        methods:{
            showTypeList:function(){
                var _this=this;
                $.get("/commType/typeList",function (data0) {
                    _this.tableData=data0 ;
                    _this.form={
                        id:'',
                        typeOrder: '',
                        typeName: '' }
                });
            },
            handleEdit:function(index, row) {
                console.log(index, row);
                this.form=row;
            },
            handleDelete:function(index, row) {
                var _this=this;
                $.get("/commType/typedel/"+row.id,function (data0) {
                    if(data0=='ok'){
                        _this.showTypeList();
                    }
                });
            },

            handleClick:function(row) {
                console.log(row);
            },
            onSubmit:function() {
                var _this=this;
                $.post("/commType/typeAdd",this.form,function (data) {
                    if(data=='ok'){
                        _this.showTypeList();
                    }
                });

            }
        },
        created() {
            var _this = this;
            $.get("/commType/typeList", function (data0) {
                _this.tableData = data0;
            });
        }
    });

    //-----------vue控件 商品一级分类
    Vue.component("category",{
        template:" <el-row :gutter='20'>\n" +
            "                    <el-col :span=\"16\"><div class=\"grid-content bg-purple\">\n" +
            "                        <el-table\n" +
            "                                :data=\"tableData\"\n" +
            "                                height=\"400\"\n" +
            "                                border\n" +
            "                                style=\"width: 100%\">\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"categoryOrder\"\n" +
            "                                    label=\"序号\"\n" +
            "                                    width=\"180\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"categoryName\"\n" +
            "                                    label=\"一类名称\"\n" +
            "                                    width=\"180\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"typeName\"\n" +
            "                                    label=\"所属根类\"\n" +
            "                                    width=\"180\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column label=\"操作\">\n" +
            "                                <template slot-scope=\"scope\">\n" +
            "                                    <el-button\n" +
            "                                            size=\"mini\"\n" +
            "                                            @click=\"handleEdit(scope.$index, scope.row)\">编辑</el-button>\n" +
            "                                    <el-button\n" +
            "                                            size=\"mini\"\n" +
            "                                            type=\"danger\"\n" +
            "                                            @click=\"handleDelete(scope.$index, scope.row)\">删除</el-button>\n" +
            "                                </template>\n" +
            "                            </el-table-column>\n" +
            "                        </el-table>\n" +
            "                    </div></el-col>\n" +
            "                    <el-col :span=\"8\"><div class=\"grid-content bg-purple\">\n" +
            "                        <el-card class=\"box-card\" style=\"height: 400px\">\n" +
            "                            <h5 align=\"center\" v-if='form.id>0' > 修改一级分类</h5>\n" +
            "                            <h5 align=\"center\" v-else=''> 新建一级分类</h5>\n" +
            "                            <el-form ref=\"form\" :model=\"form\" label-width=\"80px\">\n" +
            "                                <el-form-item label=\"一类序号\">\n" +
            "                                    <el-input v-model=\"form.categoryOrder\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"一类名称\">\n" +
            "                                    <el-input v-model=\"form.categoryName\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"根类名称\">\n" +
            "                                  <el-radio-group v-model=\"form.typeName\">\n" +
            "                                   <el-radio v-for='(t,index) in type'  :label=\"t.typeName\" :key=\"index\"></el-radio>\n" +
            "                                   </el-radio-group>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item>\n" +
            "                                    <el-button type=\"primary\" @click=\"onSubmit\">提交</el-button>\n" +
            "                                    <el-button>取消</el-button>\n" +
            "                                </el-form-item>\n" +
            "                            </el-form>\n" +
            "                        </el-card>\n" +
            "                    </div></el-col>" +
            "   </el-row>",
        data:function () {
            return {
                type:[],
                tableData: [],
                form: {
                    id:'',
                    categoryName: '',
                    typeId:'',
                    categoryOrder:'',
                    typeName:''
                }
            }
        },
        methods:{
            showCategoryList:function(){
                var _this=this;
                $.get("/commType/categoryList",function (data0) {
                    _this.tableData=data0 ;
                    _this.form={  id:'',
                        categoryName: '',
                        typeId:'',
                        categoryOrder:'',
                        typeName:''}
                });
            },
            handleEdit:function(index, row) {
                this.form=row;
            },
            handleDelete:function(index, row) {
                var _this=this;
                $.get("/commType/categorydel/"+row.id,function (data0) {
                    if(data0=='ok'){
                        _this.showCategoryList();
                    }
                });
            },

            handleClick:function(row) {
                console.log(row);
            },
            onSubmit:function() {
                var _this=this;
                $.post("/commType/categoryAdd",this.form,function (data) {
                    if(data=='ok'){
                        _this.showCategoryList();
                    }
                });
            }
        },
        created() {
            var _this = this;
            $.get("/commType/categoryList", function (data0) {
                _this.tableData = data0;
            });
            $.get("/commType/typeList", function (data0) {
                _this.type = data0;
            });
        }
    });

    //-----------vue控件 商品二级分类
    Vue.component("item",{
        template:" <el-row :gutter='20'>\n" +
            "                    <el-col :span=\"16\"><div class=\"grid-content bg-purple\">\n" +
            "                        <el-table\n" +
            "                                :data=\"tableData\"\n" +
            "                                height=\"400\"\n" +
            "                                border\n" +
            "                                style=\"width: 100%\">\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"itemOrder\"\n" +
            "                                    label=\"序号\"\n" +
            "                                    width=\"80\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"typeName\"\n" +
            "                                    label=\"所属根类\"\n" +
            "                                    width=\"150\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"categoryName\"\n" +
            "                                    label=\"所属一类\"\n" +
            "                                    width=\"150\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column\n" +
            "                                    prop=\"itemName\"\n" +
            "                                    label=\"二类名称\"\n" +
            "                                    width=\"150\">\n" +
            "                            </el-table-column>\n" +
            "                            <el-table-column label=\"操作\">\n" +
            "                                <template slot-scope=\"scope\">\n" +
            "                                    <el-button\n" +
            "                                            size=\"mini\"\n" +
            "                                            @click=\"handleEdit(scope.$index, scope.row)\">编辑</el-button>\n" +
            "                                    <el-button\n" +
            "                                            size=\"mini\"\n" +
            "                                            type=\"danger\"\n" +
            "                                            @click=\"handleDelete(scope.$index, scope.row)\">删除</el-button>\n" +
            "                                </template>\n" +
            "                            </el-table-column>\n" +
            "                        </el-table>\n" +
            "                    </div></el-col>\n" +
            "                    <el-col :span=\"8\"><div class=\"grid-content bg-purple\">\n" +
            "                        <el-card class=\"box-card\" style=\"height: 400px\">\n" +
            "                            <h5 align=\"center\" v-if='form.id==null'> 新建二级分类</h5>\n" +
            "                            <h5 align=\"center\" v-else='' > 修改二级分类</h5>\n" +
            "                            <el-form ref=\"form\" :model=\"form\" label-width=\"80px\">\n" +
            "                                <el-form-item label=\"二类序号\">\n" +
            "                                    <el-input v-model=\"form.itemOrder\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"跟类名称\">\n" +
            "                                  <el-radio-group v-model=\"form.typeName\" @change=\"findcategory\">\n" +
            "                                   <el-radio v-for='(t,i) in type' :label=\"t.typeName\" :key='i' ></el-radio>\n" +
            "                                   </el-radio-group>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"一类名称\">\n" +
            "                                  <el-radio-group v-model=\"form.categoryName\"  @change=\"takecategory\">\n" +
            "                                   <el-radio v-for='(c,j) in category' :label=\"c.categoryName\" ::key='j'></el-radio>\n" +
            "                                   </el-radio-group>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item label=\"二类名称\">\n" +
            "                                    <el-input v-model=\"form.itemName\"></el-input>\n" +
            "                                </el-form-item>\n" +
            "                                <el-form-item>\n" +
            "                                    <el-button type=\"primary\" @click=\"onSubmit\">提交</el-button>\n" +
            "                                    <el-button>取消</el-button>\n" +
            "                                </el-form-item>\n" +
            "                            </el-form>\n" +
            "                        </el-card>\n" +
            "                    </div></el-col>" +
            "   </el-row>",
        data:function () {
            return {
                category:[],
                tableData: [],
                type:[],
                form: {
                    id:'',
                    itemOrder:'',
                    itemName: '',
                    categoryName:'',
                    typeName:'',
                    categoryId:''
                },

            }
        },
        methods:{
            showItemList:function(){
            var _this=this;
                $.get("/commType/itemList",function (data0) {
                    _this.tableData=data0 ;
                    _this.form={
                        id:'',
                            itemOrder:'',
                            itemName: '',
                            categoryName:'',
                            typeName:'',
                            categoryId:''
                    }
                });
            },
            findcategory:function(data){
                var _this=this;
                for(var i=0;i<this.type.length;i++){
                    var  t=    this.type[i];
                    if(t.typeName==data){
                        $.get("/commType/categoryListByType/"+t.id, function (data0) {
                            _this.category = data0;
                            if(data0==null||data0==[]){
                                _this.form.categoryId=''
                            }
                        });
                    }
                }
            },
            takecategory:function(val){
                var _this=this;
                for(var i=0;i<this.category.length;i++){
                    var  c=    this.category[i];
                    if(c.categoryName==val){
                        this.form.categoryId=c.id;
                    }
                }
            },
            handleEdit:function(index, row) {
                this.form=row;
            },
            handleDelete:function(index, row) {
                var _this=this;
                $.get("/commType/delItem/"+row.id,function (data0) {
                    if(data0=='ok'){
                        _this.showItemList();
                    }
                });
            },

            handleClick:function(row) {
                console.log(row);
            },
            onSubmit:function() {
                var _this=this;
                $.post("/commType/itemAdd",this.form,function (data) {
                    if(data=='ok'){
                        _this.showItemList();
                    }
                });
            }
        },
        watch:{//监控属性；监控参数
        },
        created() {
            var _this = this;
            $.get("/commType/itemList", function (data0) {
                _this.tableData = data0;
            });
            $.get("/commType/categoryListByType/1", function (data0) {
                _this.category = data0;
            });
            $.get("/commType/typeList", function (data0) {
                _this.type = data0;
            });
        }
    });



    // vue 可以直接通过对象.的方式直接调用属性：data，computed；但是el,data也是属性，叫实例属性
    var comms=new Vue({
        el: '#app',
        data: {
            ct:-1,
            commShow:true,
            commAdd:false,
            editcomm:false
        },
        methods: {
            //获取商品列表子节点修改值
            getvaule:function(val){
                this.editcomm=val;
            },
            //点击事件，切换分类选择
            changeType:function(data){
                this.ct = data;
                this.commShow=false;
            },
            changeComm:function(data){
                this.commShow=true;
                this.ct =-1;
                this.commAdd=data;

            },
            handleOpen:function(key, keyPath) {
                this.commShow=true;
                this.ct =-1
                console.log(this.commShow)
                console.log(key, keyPath);
            },
            handleClose:function(key, keyPath) {
                this.commShow=true;
                this.ct =-1
                console.log(key, keyPath);
            },
            handleEdit:function(index, row) {
                console.log(index, row);
            },
            handleClick:function(row) {
                console.log(row);
            },
        }
    });


    //定义方法，，数组删除特定元素   -->用于图片删除功能
    Array.prototype.remove = function(val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };
</script>
</html>
