<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640,user-scalable=no" />
    <title>闪闪帮你买</title>
    <title>Mobile phone</title>
    <script th:src="@{/js/jQuery.js}"></script>
    <script th:src="@{/vue/vue.js}"></script>
    <script th:src="@{/MUI/mui.min.js}"></script>
    <script th:src="@{/MUI/mui.view.js}"></script>
    <script  th:src="@{/MUI/mui.zoom.js}"  ></script>
    <script  th:src="@{/MUI/mui.previewimage.js}"  ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/MUI/css/mui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/MUI/css/mui.previewimage.css}">

    <style>
        p{ text-indent: 2em;}
    </style>
</head>
<body>
<div id="aapp" width="90%">
    <br>
      <h1 align="center"> “闪闪帮你买”感谢您的关注</h1>
    <br>

   <p> &nbsp;&nbsp;   “有购买需求，却因为疫情，不愿出门？因为工作繁忙，没有时间？每家店去逛浪费时间？网络购物觉得不够靠谱？价格太贵，等便宜了再买？鞋子千篇一律，没法体现自己的个性......”</p>
   <p> &nbsp;&nbsp;    可能会有很多原因，导致你迟迟没有买到心仪的衣服，鞋子？那么，“闪闪帮你买”将会成为你的不二选择！！</p>

        <p>&nbsp;&nbsp;<b>概述：</b>本公众号主要经营业务分为三类：一是跑腿代购；二是特供商品；三是DIY手绘鞋。</p>

        <h2 align="center"  style="color: red">01</h2>
         <h3 align="center">   跑腿代购</h3>
<p>&nbsp;&nbsp;1.我们所售商品，均通过正规渠道购买，保证正品；</p>
<p>&nbsp;&nbsp;2.我们会筛选不同门店的所有活动，优选最低价格，免去顾客自己逛店，自己拼单的烦恼；</p>
<p>&nbsp;&nbsp;3.所有商品一旦售出不退不换，因代购涉及到很多拼单，满减活动，每个店铺都有各自的规定，请顾客理解；</p>
<p>&nbsp;&nbsp;4.所有商品价格都会存在波动，涨价降价问题，我们无法控制，购买时请与我们询问最新价格；</p>
<p>&nbsp;&nbsp;5.代购商品利润微微小，走量不走价，谢绝砍价，所做所为，信誉至上，抱有怀疑态度的顾客们，还请绕行。</p>

<h2 align="center"  style="color: red">02</h2>
        <h3 align="center">特供商品</h3>
<p>&nbsp;&nbsp;1.特供商品来源多为线上或线下的限时抢购活动，绝版或限量版商品；</p>
<p>&nbsp;&nbsp;2.特供商品均为正品，接受各大论坛app验货；</p>
<p>&nbsp;&nbsp;3.特供商品定价参考市场，谢绝砍价。</p>


<h2 align="center" style="color: red">03</h2>
        <h3 align="center">DIY手绘鞋</h3>
<p>&nbsp;&nbsp;1.详细介绍见“亮点业务”专栏；</p>
<p>&nbsp;&nbsp;2.由于制作周期较长，订货的顾客还请耐心等待。</p>
<br>
        <p>&nbsp;&nbsp;   以上就是“闪闪帮你买”的“白皮书”，谢谢你们的信任，欢迎添加我们的微信，微信群，微信公众号，了解更多信息。</p>
<br><br>
<p align="right">“闪闪帮你买”团队</p>
<p align="right">2020年4月17日 </p>
        <div style="height: 13vw"></div>
</div>
</body>
<script>

\

</script>
</html>