<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>闪购商城</title>
    <script th:src="@{/js/jQuery.js}"></script>
    <script th:src="@{/vue/vue.js}"></script>
    <script th:src="@{/vue/vue-lazyload.js}"></script>
    <script th:src="@{/MUI/mui.min.js}"></script>
    <script th:src="@{/MUI/mui.view.js}"></script>
    <script  th:src="@{/MUI/mui.zoom.js}"  ></script>
    <script  th:src="@{/MUI/mui.previewimage.js}"  ></script>
    <script  th:src="@{/MUI/mui.lazyload.js}"  ></script>
    <script  th:src="@{/MUI/mui.lazyload.img.js}"  ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/MUI/css/mui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/MUI/css/mui.previewimage.css}">

        <style>
            * { touch-action: pan-y; }
        .fixed_div{
            position:fixed;
            height:3vw;
            width: auto;
            top:14vw;
            width:100%;
            filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;z-index:100; background-color:#f7f7f7;
        }
        .mui-card-footer{
            /*display: flex;*/
            /*min-height: 44px;*/
        }
        .list{
            padding:0;
            margin:0;
        }
        .list li{
            padding:0;
            margin:0;
            margin:0;
            text-align: left;
            list-style-type: none;
        }
    </style>
</head>
<body>
<div  id="scrollView">
    <div id="list"  v-show="!IsShowComm">
        <header class="mui-bar mui-bar-nav" style="height: 14vw">
            <div class="mui-input-row mui-search">
                <input type="search"  v-model="search"  @blur="findPage" @keydown="findPage"  placeholder="快速搜索">
            </div>
            <div style="padding: 0px 0px;">
                <div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
                    <a   v-for="(t,index) in type"   :index="index"  @click="takeDate(t.id)" :class="t.id==activeId?'mui-control-item mui-active': 'mui-control-item' ">{{t.type}}</a>
                </div>

            </div>
            <div  id="Categorydiv" class="mui-bar" v-if="ReCategory>0&category.length>0"  style="height: 7vw">
                        <div  class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary" >
                            <a   v-for="(c,i) in category" :index="i" style="display: table-cell" align="center" @click="findRightData('2',c.id)" :class="ReCategory==c.id?'mui-control-item mui-active':'mui-control-item'" ><span>{{c.name}}</span></a>
                        </div>
            </div>
            <!--<div class=" fixed_div" style="display: table;" v-if="category.length>0">-->
                <!--<a  class="mui-control-item" v-for="(c,i) in category" :index="i" style="display: table-cell" align="center" @click="findRightData('2',c.id)" ><span>{{c.name}}</span></a>-->
            <!--</div>-->
        </header>
    <input type="hidden"  th:value="${type}" id="reqtype">
        <div class="mui-content">
            <div style="height: 12vw" align="center"></div>
            <div id="listCard">
                <div class="mui-row" style="border-left: 1px solid #c8c7cc; overflow-y: auto;"  v-for="(item,index) in listTemp" :key="index"  >
                    <div  class="mui-col-sm-6" v-for="(j,ind) in item" :index="ind" @click="openW(j)">
                        <div class="mui-card"  style="width: 48vw;margin: 1vw auto;height: 48vw"  >
                            <div class="mui-card-header mui-card-media" >
                                <div class="mui-card-content">
                                    <img v-lazy="imgPath+j.waresImg.split(',')[0]"  width="100%" height="200vw"  style="object-fit:cover"  onerror="onerror=null;src='/img/logo.jpg'"/>
                                </div>
                                <div class="mui-card-footer">
                                    <ul  class="list"  ><li><b>{{j.waresName}}</b></li><li><b style="color: red">￥{{j.waresPrice}}</b></li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 15vw" align="center">
                <span style=" color: #999" >已经到底了</span><br>
                <span style=" color: #999;font-size:2vw" >闪闪帮你买自主技术</span>
            </div>

        </div>
    </div>
    <div id="ifrIsShow">
        <iframe id="ifr" v-if="IsShowComm"  :src="ifrPath" height="1100vw" width="100%"></iframe>
    </div>
</div>
</body>
<script>
    Vue.use(VueLazyload);


    var comm=new Vue({
        el:'#scrollView',
        data:{
            type:[],
            showData:[],
            category:[],
            //图片目录文件
            imgPath:"/images/upload/",
            search:"",
            activeId:'',
            IsShowComm:false,
            ifrPath:"/comm/m-i/",
            ReCategory:0
        },
        methods: {//方法属性；
            findPage:function () {
                var _this=this;
                if(this.search=="0"){
                    $.get("/comm/commListByKeyword/0/0",function (data) {
                        _this.showData=data;
                    });
                    this.showleft=true;
                }else{
                    $.get("/comm/commListByKeywords/"+this.search,function (data) {
                        _this.showData=data;
                    });
                    this.showleft=true;
                }

            },
            openW:function(val){
                this.ShowComm();
                this.ifrPath=this.ifrPath+val.id;
                $("#ifr").attr("src", this.ifrPath);
                // window.location.href="/comm/m-i/"+val.id;
            },
            ShowComm:function(){
                this.IsShowComm=!this.IsShowComm;
            },
            takeDate: function (val) {
                if( $("#Categorydiv").length>0) {
                    $("#Categorydiv div a ").last()[0].className = "mui-control-item";
                }
                var _this=this;
                $.get("/comm/commListByKeyword/1/"+val,function (data) {
                    _this.showData=data;
                    _this.RightShow=true;
                    _this.activeId=val;
                    if(data.length>0){
                        _this.ReCategory=data[0].categoryId==null?0:data[0].categoryId;
                    }else  if(_this.showData.length==0){
                        _this.ReCategory=0;
                        mui.alert('敬请期待！', '暂无数据', function() {
                            // info.innerText = '你刚关闭了警告框';
                        });
                    }
                });
               var  Ttype=_this.type ;
                for( let i in Ttype){
                    if(Ttype[i].id==val){
                        this.category=Ttype[i].category;
                    }
                }
            },
            findRightData:function(type,id){
                var _this=this;
                $.get("/comm/commListByKeyword/"+type+"/"+id,function (data) {
                    _this.showData=data;
                    // _this.RightShow=true;
                });
            }
        },
        computed:{
            listTemp:function(){
                let index =0;
                let count = 2;
                let arrTemp = [];
                let showData = this.showData;
                for(let i=0;i<this.showData.length;i++){
                    index = parseInt(i/count);
                    if (arrTemp.length <= index) {
                        arrTemp.push([]);
                    }
                    arrTemp[index].push(showData[i])
                }
                return arrTemp
            }
        },
        created(){
            var val=$("#reqtype").val();
            this.activeId=val;
            var _this=this;
            $.get(val.indexOf("search")==-1?"/comm/commListByKeyword/1/" + val:"/comm/commListByKeywords/"+val.substring(6,20),function (data) {
                _this.showData=data;
                if(data.length>0){
                    _this.ReCategory=data[0].categoryId==null?0:data[0].categoryId;
                }else  if(_this.showData.length==0){
                    _this.ReCategory=0;
                    mui.alert('敬请期待！', '暂无数据', function() {
                        // info.innerText = '你刚关闭了警告框';
                    });
                }
            });

        }
    });

    mui.init({
        swipeBack:true ,//启用右滑关闭功能
        preloadPages:[
            mui.get("/commType/allType",function (data) {
                comm.type=data;
                for( let i in data){
                    if(data[i].id==$("#reqtype").val()){
                        comm.category=data[i].category;
                    }
                }
            }),
        // mui.get( $("#reqtype").val().indexOf("search")==-1?"/comm/commListByKeyword/1/" + $("#reqtype").val():"/comm/commListByKeywords/"+$("#reqtype").val().substring(6,20), function (data) {
        //     comm.showData = data;
        //     comm.activeId=$("#reqtype").val();
        // })
        ],
    });







</script>
</html>