<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640,user-scalable=no" />
    <title>Title</title>
    <title>Mobile phone</title>
    <script th:src="@{/js/jQuery.js}"></script>
    <script th:src="@{/vue/vue.js}"></script>
    <script th:src="@{/MUI/mui.min.js}"></script>
    <script th:src="@{/MUI/mui.view.js}"></script>
    <script  th:src="@{/MUI/mui.zoom.js}"  ></script>
    <script  th:src="@{/MUI/mui.previewimage.js}"  ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/MUI/css/mui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/MUI/css/mui.previewimage.css}">

<style>

</style>
</head>
<body>
<div id="mapp">
    <header class="mui-bar mui-bar-nav" style="height: 10vw">
        <a class="mui-icon mui-icon-bars mui-pull-left mui-plus-visible"></a>
        <a id="info" class="mui-icon mui-icon-info-filled mui-pull-right" style="color: #999;"></a>
        <h1 align="center">Hello mui</h1>
    </header>
    <div class="mui-iframe-wrapper" style="top: 11vw; bottom: 0px;">
        <iframe th:src="@{/home/m-index}" id="list" name="list"></iframe>
    </div>
</div>

</body>
<script>
    // vue 可以直接通过对象.的方式直接调用属性：data，computed；但是el,data也是属性，叫实例属性
    new Vue({
        el: '#mapp',
        methods: {
            // openW: function (val) {
            //     console.log(val);
            //     mui.openWindow({
            //         url: '/comm/m-i',
            //         id: 'info',
            //         styles: {
            //             top: '11vw',//mui标题栏默认高度为45px；
            //             bottom: '0px'//默认为0px，可不定义；
            //         }
            //     });
            // }
        },
        created() {
            // mui.init({
            //     subpages: [{
            //         url: '/home/m-index',
            //         id: 'list',
            //         styles: {
            //             top: '11vw',//mui标题栏默认高度为45px；
            //             bottom: '0px'//默认为0px，可不定义；
            //         }
            //     }]
            // });

        }
    })


</script>
</html>