<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640,user-scalable=no" />
    <title>闪购商城</title>
    <script th:src="@{/js/jQuery.js}"></script>
    <script th:src="@{/vue/vue.js}"></script>
    <script th:src="@{/vue/vue-lazyload.js}"></script>
    <script th:src="@{/MUI/mui.min.js}"></script>
    <script th:src="@{/MUI/mui.view.js}"></script>
    <script  th:src="@{/MUI/mui.zoom.js}"  ></script>
    <script  th:src="@{/MUI/mui.previewimage.js}"  ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/MUI/css/mui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/MUI/css/mui.previewimage.css}">

    <style>
        .mui-backdrop{
            z-index: 8;
            position: fixed;
        }
        .mui-btn{
            background-color: #f7f7f7
        }
        .spjzp{
            line-height: 8vw;/*让黄色div中的文字内容垂直居中*/
            text-align: center;/*让文字水平居中*/
            position: absolute;
            top:50%;
            margin-top: -50px;
            margin-left: 50vw;
        }
        .mui-bar-tab .mui-tab-item.mui-active   {color:#F7691E;}
        /*.scrollXclass{*/
            /*height: 4vw;width: 90%;*/
            /*float:left; border:1px solid #F00;*/
            /*margin-left:10px;overflow-y:scroll;*/
            /*over-flow:auto*/
        /*}*/
    </style>
</head>
<body>
<div id="mapp" >
    <header class="mui-bar mui-bar-nav" style="height: 5%;background-color: #7D130C"  >
        <h1 class="mui-title" align="center" style="top: 0vw;"><img align="center"  style="object-fit:cover;width: 50vw; height: 5vw"  :src="logoPath"> </h1>
    </header>

    <div class="mui-iframe-wrapper" style="top: 6%; bottom: 0px; height: 90%">
        <iframe  v-if="alternate" :src="iframePath" id="list" name="list" ref="mapFrame" height="89%"></iframe>

        <div id="vi" align="center" v-if="!alternate" style="height:130%">
            <div class="mui-input-row mui-search" style="height: 3%">
                <input type="search"  v-model="search" @keyup.enter="findPage"  @blur="findPage"  placeholder="快速搜索">
            </div>
            <!--<h5 style="background-color:#efeff4" class="mui-pull-left mui-icon mui-icon-chat">公告</h5><br>-->
            <!--<div class="scrollXclass">-->
                <!--<marquee scrolldelay="5" scrollamount="5"><span style="font-size: 20px;color: red">{{notice}}</span></marquee>-->
            <!--</div>-->
            <div >
            <!--<div style="height: 1vw;">-->
            <!--</div>-->
                <!--<img src="../img/dh.gif"  width="100%"  height="auto" style="object-fit:cover">-->
            <ul class="mui-table-view" style="top: 1vw;height: 70%">
                <li class="mui-table-view-cell" v-for="(t,i) in type" :index="i" style="height: 54vw" @click="commodity(t.id) ">
                    <div >
                        <img  style="width: 100%;height: 53vw ;object-fit: contain;"  v-lazy="'../img/type'+t.id+'.jpg'">

                    </div>
                </li>
            </ul>
                <div style="height: 3vw"></div>
            </div>
            <ul class="mui-table-view" align="center"  style="height: 22%">
                <li class="mui-table-view-cell " style="height: 24vw">
                    <a href="javascript:;">
                        <img class=" mui-pull-left" style="width: 100%;height: 23vw;object-fit: scale-down;" src="../img/kf.jpg">

                    </a>
                </li>
                <li class="mui-table-view-cell " style="height: 24vw">
                    <a href="javascript:;">
                        <img class=" mui-pull-left" style="width: 100%;height: 23vw;object-fit: scale-down;" src="../img/gzh.jpg">
                    </a>
                </li>
            </ul>
            <div style="height: 5%" align="center">
                <span style=" color: #999" >已经到底了</span><br>
                <span style=" color: #999;font-size:2vw" >闪闪帮你买自主技术</span>
            </div>
        </div>
    </div>

    <nav class="mui-bar mui-bar-tab" style="height:5%;background-color: #7D130C">
        <a :class="activeNav==1?'mui-tab-item  mui-active':'mui-tab-item'" @click="backHome()">
            <span class="mui-icon mui-icon-home"></span><span style="font-size:x-large ">首页</span>
        </a>
        <a :class="activeNav==2?'mui-tab-item  mui-active':'mui-tab-item '"  id="bars"  @click="commodity(1) " >
            <span class="mui-icon mui-icon-bars"   ></span><span style="font-size:x-large" >商品</span>
        </a>
        <a :class="activeNav==3?'mui-tab-item  mui-active':'mui-tab-item '"   @click="activity()">
            <span class="mui-icon mui-icon-spinner-cycle mui-spin"></span><span style="font-size:x-large" >活动</span>
        </a>
        <a :class="activeNav==4?'mui-tab-item  mui-active':'mui-tab-item '"   @click="about()" >
            <span class="mui-icon mui-icon-info" ></span><span style="font-size:x-large" >个人中心</span>
        </a>
    </nav>


</div>

</body>
<script>
    Vue.use(VueLazyload);
    // vue 可以直接通过对象.的方式直接调用属性：data，computed；但是el,data也是属性，叫实例属性
  let index=  new Vue({
        el: '#mapp',
        data:{
            activeNav:1,
            type:[],
            alternate:false,
            logoPath:"../img/sc.jpg",
            search:"",
            iframePath:"",
            notice:"    保证正品 接受各大论坛app验货，我们所售商品，均通过正规渠道购买，所有商品一旦售出不退不换 代购涉及到很多拼单满减 每个品牌店都有各自的规定 ，涨价降价问题 控制不了 专柜涨价降价确实不能控制 我都是尽量挑最划算的款式买给你们。最后感谢大家的支持与信任 谢谢大家！"
        },
        methods: {
            findPage:function () {
                // $("#list").attr("src","/home/m-index");
                this.activeNav=false;
                var url="/home/m-index/search"+this.search;
                this.iframePath=url;
                // mui('.mui-popover').popover('hide')
                $("#list").attr("src",url);
                if(!this.alternate){
                    this.alternate=true;
                }

            },
            commodity:function (val) {
                var url="/home/m-index/"+val;
                this.activeNav=2;
                this.iframePath=url;
                // mui('.mui-popover').popover('hide')
                $("#list").attr("src",url);
                if(!this.alternate){
                    this.alternate=true;
                }

            },
            backHome:function () {
                mui('.mui-popover').popover('hide')
                $("#list").attr("src","/#");
                this.alternate=false;
                this.activeNav=1;

            },
            about:function () {
                // this.activeNav=4;
                mui.alert('敬请期待！', '暂未开放', function() {
                });

                // mui('.mui-popover').popover('hide')
                // $("#list").attr("src","/home/m-about");
                // if(!this.alternate){
                //     this.alternate=true;
                // }
            },
            activity:function () {
                var url="/home/m-activity";
                this.activeNav=3;
                this.iframePath=url;
                // mui('.mui-popover').popover('hide')
                $("#list").attr("src",url);
                if(!this.alternate){
                    this.alternate=true;
                }
            }

        },
        created() {
                var _this=this;
                $.get("/commType/allType",function (data) {
                    _this.type=data;
                });

        },
      mounted() {

      }
    })


</script>
</html>
