<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glisten.discount.shopping.Mapper.TCommodityTypeMapper">
    <resultMap id="BaseResultMap" type="com.glisten.discount.shopping.Domain.TCommodityType">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="type_name" jdbcType="varchar" property="typeName" />
        <result column="type_order" jdbcType="BIGINT" property="typeOrder" />

    </resultMap>
</mapper>